.contact_links {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  margin-top: 60px;
  gap: 20px;
}

.contact_link {
  flex-basis: calc(33.33% - 10px);
  margin: 20px 5px;
}

.contact_link > svg {
  width: 50%;
}

.wallpaper {
  position: relative;
  height: 70vh;
  /* overflow: hidden; */
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.img.active {
  opacity: 1;
  z-index: 0;
}


.profile {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 3;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.inquire {
  background-color: rgb(52, 52, 201);
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inquire > P {
  color: wheat;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}
.form > input,
.form > textarea {
  border: transparent;
  padding-left: 10px;
  border-radius: 10px;
  width: 70%;
}

.form > input {
  height: 50px;
}
